@font-face {
    font-family: MyFont;
    src: url(../site_img/goldplay.otf);
}
$default:#e2c147;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MyFont;
}
//    box-shadow: rgba(0, 0, 0, 0.7) 0 0 0 10000px inset;
nav{
    z-index: 99;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    -webkit-box-shadow: -1px -7px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -7px 23px 0px rgba(0,0,0,0.75);
    box-shadow: -1px -7px 23px 0px rgba(0,0,0,0.75);
    #menuopen{
        display: none;
    }
    #menuclose{
        display: none;
    }
    .left-nav{
        text-align: center;
        img{
            width: 8rem;
            margin-top: 6px;
        }
    }
    .right-nav{
        float: right;
        ul{
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            width: 100%;
            li{
                list-style-type: none;
                display: inline-block;
               // margin: 0rem 1.5rem;
                a{
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    font-size: 1.2rem;
                    padding: 1.7rem 1.5rem;
                    &:hover{
                        transition: .25s;
                        background-color: rgb(234, 234, 234);
                    }
                }
            }
        }
    }
}
.hero-section{
    position: relative;
    z-index: 90;
    margin-top: 5rem;
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 10000px inset;
    font-family: myFont;
    overflow: hidden;
    img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        transform: scale(1);
        z-index: -1;
        filter: brightness(0.6);
        animation-name: scalehomepage;
        animation-duration: 80s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    h1{
        text-align: center;
        font-weight: 900;
        font-size: 3.3rem;
        color: white;
        letter-spacing: 2px;
    }
    p{
        //font-family: "goldplay-bold", sans-serif;
        margin-top: -0.2rem;
        color: rgb(210, 210, 210);
        font-size: 1.2rem;
    }
    form{
        margin-top: 1rem;
        input{
            border: 1px solid white;
            width: 65rem;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            outline: none;
            padding: 11px 20px;
            font-size: 1rem;
            letter-spacing: 2px;
        }
        button{
            padding: 11px 30px;
            font-size: 1rem;
            border: 1px solid white;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            transition: .2s;
            i{
                font-weight: bolder;
            }
            &:hover{
                color: $default;
            }
        }
    }
}

@keyframes scalehomepage
{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.recommend-section{
    font-family: "goldplay-bold", sans-serif;
    padding: 6rem 14rem;
    #naslovrec{
        text-align: center;
        font-weight: 900;
        position: relative;
        margin-bottom: 2rem;
        &::after{
            content: "";
            position: absolute;
            //background-color: $default;
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(217,205,162,1) 24%, $default 53%, rgba(216,204,159,1) 76%, rgba(255,255,255,1) 100%);
            height: 3px;
            width: 350px;
            right: 0;
            left: 0;
            bottom: -10px;
            margin: auto;
        }
    }
    p{
        text-align: center;
        width: 40rem;
        margin: auto;
    }
}

.swiper {
    width: 100%;
    height: 25rem;
    margin-top: 5rem;
    .swiper-slide {
        //font-family: "goldplay-bold", sans-serif;
        font-size: 18px;
        border-radius: 15px;
        z-index: -1;
        padding: 2.5rem 0rem;
        position: relative;
        &:hover::before {
            background-color: rgba(23, 20, 7, 0.8); /* Zamračenje slike prilikom hover-a */
            border-radius: 15px;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.65);
            transition: background-color 0.3s ease;
            z-index: -1;
            border-radius: 15px;
        }
        .single-naslov{
            text-align: center;
            h1{
                color: white;
                z-index: 2;
                font-weight: 900;
                font-size: 1.6rem;
                letter-spacing: 1px;
                user-select: none;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    //background-color: $default;
                    background: $default;
                    height: 3px;
                    width: 130px;
                    right: 0;
                    left: 0;
                    bottom: -10px;
                    margin: auto;
                }
            }
            h5{
                color: white;
                font-weight: 400;
                margin-top: 1.2rem;
                letter-spacing: 1px;
                user-select: none;
                span{
                    color: $default;
                }
            }
            h4{
                color: white;
                font-weight: 400;
                font-size: 1.2rem;
                letter-spacing: 1px;
                user-select: none;
                margin-top: 1.2rem;
            }
        }
        .lokacija
        {
            /*position: absolute;
            bottom: 20px;
            left: 20px;
            float: left;*/
            width: auto;
            text-align: left;
            position: absolute;
            bottom: 25px;
            left: 25px;
            letter-spacing: 1px;
            #drzavasingle{
                width: 100%;
                color: white;
                text-align: left;
                font-size: 1rem;
                user-select: none;
                &::before{
                    font-family: "Font Awesome 5 Free"; 
                    font-weight: 600;
                    margin-right: 5px;
                    content: "\f0ac";
                    color: $default;
                    font-size: 15px;
                }
            }
            #gradsingle{
                width: 100%;
                color: white;
                text-align: left;
                font-size: 1rem;
                user-select: none;
                &::before{
                    font-family: "Font Awesome 5 Free"; 
                    font-weight: 900;
                    margin-right: 9px;
                    content: "\f3c5";
                    color: $default;
                    font-size: 15px;
                }
            }
        }
        .linkdetaljnije{
            width: auto;
            position: absolute;
            bottom: 35px;
            right: 35px;
            a{
                color: white;
                text-decoration: none;
                letter-spacing: 1px;
                border: 1px solid $default;
                padding: 10px 25px;
                font-size: .9rem;
                border-radius: 20px;
                transition: .3s;
                font-weight: bold;
                &:hover{
                    background-color: $default;
                }
            }
        }
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -2;
            position: absolute;
            left: 0;
            top: 0;
            transition: .3s;
            border-radius: 15px;
           // opacity: .5;
        }
      }
  }

.kratakabout-sec{
    background-color: #1c1c1c;
    color: white;
    padding: 8rem 0rem;
    h1{
        font-weight: 1000;
        letter-spacing: 1px;
        position: relative;
        margin-bottom: 2rem;
        &::after{
            content: "";
            position: absolute;
            background-color: $default;
            height: 2px;
            width: 180px;
            left: 0;
            bottom: -5px;
            margin: auto;
        }
    }
    p{
        color: #cbcbcb;
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 1rem;
        margin-bottom: 1rem;
        span{
            font-weight: 1000;
        }
    }
    .left-kratak{
        padding: 0rem 5rem;
        position: relative;
        a{
            margin-bottom: -5rem;
            color: white;
            text-decoration: none;
            letter-spacing: 1px;
            border: 1px solid $default;
            padding: 10px 25px;
            font-size: .9rem;
            border-radius: 20px;
            transition: .3s;
            font-weight: bold;
            background-color: $default;
            &:hover{
                background-color: transparent;
            }
        }
        #leftdrugi{
            margin-bottom: 3rem;
        }
        #leftinfolink{
            margin-left: 1rem;
            background-color: transparent;
            &:hover{
                background-color: $default;
            }
        }
        &::after{
            content: "";
            position: absolute;
            background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(229,199,89,1) 25%, rgba(226,193,71,1) 50%, rgba(229,199,89,1) 75%, rgba(255,255,255,0) 100%);
            height: 300px;
            width: 1px;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
        }
    }
    .right-kratak{
        padding: 2rem 5rem;
        h1{
            &::after{
                width: 120px;
            }
        }
        a{
            margin-bottom: -5rem;
            color: white;
            text-decoration: none;
            letter-spacing: 1px;
            border: 1px solid $default;
            padding: 10px 25px;
            font-size: .9rem;
            border-radius: 20px;
            transition: .3s;
            font-weight: bold;
            background-color: $default;
            &:hover{
                background-color: transparent;
            }            
        }
        #rightdrugi{
            margin-bottom: 2rem;
        }
    }
}

.shortinfo-section{
    //background-color: #e8e8e8;
    background: rgb(2,0,36) ;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 25%, #c5c5c5 53%, rgba(233,233,233,1) 75%, rgba(255,255,255,1) 100%);
    padding: 7rem 0rem;
    position: relative;
    background-image:  none ;
    box-shadow: none ;
    color: black ;
    .container{
        .left-info{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: auto;
           img{
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
           }
            h3{
                font-weight: 900;
                font-size: 2rem;
                letter-spacing: 1px;
                margin-bottom: 1.5rem;
                span{
                    text-decoration: underline;
                    text-decoration-color: $default;
                }
            }
            a{
                color: black;
                text-decoration: none;
                letter-spacing: 1px;
                border: 1px solid $default;
                padding: 10px 25px;
                font-size: .9rem;
                border-radius: 20px;
                transition: .3s;
                font-weight: bold;
                background-color: $default;
                margin-left: -6rem;
                &:hover{
                    background-color: transparent;
                }
            }
        }
        .right-info{
            img{
                display: block;
                width: 100%;
                border-radius: 30px;
                -webkit-box-shadow: -10px 10px 24px -9px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 10px 24px -9px rgba(0,0,0,0.75);
box-shadow: -10px 10px 24px -9px rgba(0,0,0,0.75);
            }
        }
    }
  }

footer{
    position: relative;
    color: white;
    background-color: #1c1c1c;
    padding: 7rem 0rem;
    padding-bottom: 2rem;
    .container{
        border-bottom: 1px solid $default;
        padding-bottom: 3rem;
    }
    p{
        padding: 0;
        margin: 0;
        letter-spacing: 1px;
        color: #cbcbcb;
    }
    h4{
        font-weight: 1000;
        letter-spacing: 2px;
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
    }
    .left-footer{
        display: table;
        margin: 0 auto;
        img{
            width: 13rem;
            margin-bottom: 0.5rem;
        }
        i{
            margin-top: 1.5rem;
            font-size: 1.2rem;
            margin-right: 1rem;
            border: 1px solid $default;
            border-radius: 1000%;
            padding: 0.7rem;
            transition: .3s;
            cursor: pointer;
            &:hover{
                background-color: $default;
            }
        }
    }
    .mid-footer{
        display: table;
        margin: 0 auto;
        ul{
            padding-left: 0px;
            li{
                list-style: none;
                margin-bottom: 0.3rem;
                a{
                    text-decoration: none;
                    color: #cbcbcb;
                    letter-spacing: 2px;
                    font-size: 1rem;
                    transition: .3s;
                    &:hover{
                        color: $default;
                    }
                }
            }
        }
    }
    .right-footer{
        display: table;
        margin: 0 auto;
        ul{
            padding-left: 0px;
            li{
                list-style: none;
                margin-bottom: 0.3rem;
                a{
                    text-decoration: none;
                    color: #cbcbcb;
                    letter-spacing: 2px;
                    font-size: 1rem;
                    transition: .3s;
                    i{
                        margin-right: 10px;
                        color: $default;
                    }
                    &:hover{
                        color: $default;
                    }
                }
            }
        }
    }
    #footerp{
        margin-top: 2rem;
        text-align: center;
    }
}

@media screen and (min-width:320px) and (max-width:768px)
{
    nav{
        .left-nav{
            text-align: left;
            position: relative;
            #menuclose{
                display: none;
            }
            i{
                position: absolute;
                right: 1rem;
                top: 1.7rem;
                font-size: 1.7rem;
                transition: .3s;
            }
            #menuopen{
                display: block;
            }
        }
        .col-md-7{
            padding: 0px;
        }
        .right-nav{
            float:none;
            height: 0rem;
            display: none;
            transition: .3s;
            ul{
                display: block;
                text-align: center;
                background-color: white;
                height: 11rem;
                width: 100%;
                border-bottom: 1px solid #c5c5c5;
                li{
                    display: block;
                    width: 100%;
                    padding: 3px 0rem;
                    border-top: 1px solid #c5c5c5;
                }
            }
        }
    }

  .recommend-section{
    padding: 6rem 2rem;
    p{
        width: auto;
    }
  }  
  .hero-section{
    height: 44rem;
    h1{
        font-size: 2rem;
    }
    p{
        text-align: center;
        font-size: 0.8rem;
    }
    form{
        width: 100%;
        text-align: center;
        input{
            width: 70%;
            font-size: .7rem;
        }
        button{
            font-size: .7rem;
        }
    }
  }
  .kratakabout-sec{
    zoom: .9;
    padding: 6rem 0rem;
    .left-kratak{
        margin-bottom: 7rem;
        padding: 0rem;
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        &::after{
            content: "";
            display: none;
        }
        h1{
            &::after{
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
    .right-kratak{
        padding: 0rem;
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        &::after{
            content: "";
            display: none;
        }
        h1{
            &::after{
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
  }
  footer{
    zoom: .9;
    .left-footer{
        display: block;
        margin-bottom: 4rem;
        margin-left: 2rem;
        img{
            margin-left: -1rem;
        }
    }
    .mid-footer{
        display: block;
        margin-bottom: 4rem;
        margin-left: 2rem;
    }
    .right-footer{
        display: block;
        margin-left: 2rem;
    }
  }

  .shortinfo-section{
    background-image: url(../site_img/shortinfo.jpg);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0 0 10000px inset;
    zoom: .9;
    padding: 11rem 0rem;
    //background-position: 0rem 50rem;
    background-size: cover;
    img{
        display: none !important;
    }
}
}
@media screen and (min-width:768px) and (max-width:1024px)
{
    nav{
        .right-nav{
            ul{
                margin-left: 9rem;
                li{
                    a{
                        font-size: 1rem;
                    }
                }
            }
        }
        .left-nav{
            a{
                margin-right: 10rem;
            }
        }
    }
    .hero-section{
        form{
            input{
                width: 40rem;
            }
        }
    }
    .recommend-section{
        p{       
            text-align: center;
            width: 100%;
        }
    }
    .recommend-section{
        padding: 6rem 2rem;
    }
    .kratakabout-sec{
        .left-kratak{
            padding: 0rem 1rem;
        }
        .right-kratak{
            padding: 4rem 1rem;
        }
    }
    .shortinfo-section{
        .left-info{
            zoom: .8;
        }
    }
}