@charset "UTF-8";
@font-face {
  font-family: MyFont;
  src: url(../site_img/goldplay.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MyFont;
}

nav {
  z-index: 99;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  box-shadow: -1px -7px 23px 0px rgba(0, 0, 0, 0.75);
}
nav .left-nav {
  text-align: center;
}
nav .left-nav img {
  width: 8rem;
  margin-top: 6px;
}
nav .right-nav {
  float: right;
}
nav .right-nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}
nav .right-nav ul li {
  list-style-type: none;
  display: inline-block;
}
nav .right-nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1.7rem 1.5rem;
}
nav .right-nav ul li a:hover {
  transition: 0.25s;
  background-color: rgb(234, 234, 234);
}

.hero-section {
  position: relative;
  z-index: 90;
  margin-top: 5rem;
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 10000px inset;
  font-family: myFont;
  overflow: hidden;
}
.hero-section img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1);
  z-index: -1;
  filter: brightness(0.6);
  animation-name: scalehomepage;
  animation-duration: 80s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.hero-section h1 {
  text-align: center;
  font-weight: 900;
  font-size: 3.3rem;
  color: white;
  letter-spacing: 2px;
}
.hero-section p {
  margin-top: -0.2rem;
  color: rgb(210, 210, 210);
  font-size: 1.2rem;
}
.hero-section form {
  margin-top: 1rem;
}
.hero-section form input {
  border: 1px solid white;
  width: 65rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  padding: 11px 20px;
  font-size: 1rem;
  letter-spacing: 2px;
}
.hero-section form button {
  padding: 11px 30px;
  font-size: 1rem;
  border: 1px solid white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s;
}
.hero-section form button i {
  font-weight: bolder;
}
.hero-section form button:hover {
  color: #e2c147;
}

@keyframes scalehomepage {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.recommend-section {
  font-family: "goldplay-bold", sans-serif;
  padding: 6rem 14rem;
}
.recommend-section #naslovrec {
  text-align: center;
  font-weight: 900;
  position: relative;
  margin-bottom: 2rem;
}
.recommend-section #naslovrec::after {
  content: "";
  position: absolute;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(255, 255, 255) 0%, rgb(217, 205, 162) 24%, #e2c147 53%, rgb(216, 204, 159) 76%, rgb(255, 255, 255) 100%);
  height: 3px;
  width: 350px;
  right: 0;
  left: 0;
  bottom: -10px;
  margin: auto;
}
.recommend-section p {
  text-align: center;
  width: 40rem;
  margin: auto;
}

.swiper {
  width: 100%;
  height: 25rem;
  margin-top: 5rem;
}
.swiper .swiper-slide {
  font-size: 18px;
  border-radius: 15px;
  z-index: -1;
  padding: 2.5rem 0rem;
  position: relative;
}
.swiper .swiper-slide:hover::before {
  background-color: rgba(23, 20, 7, 0.8); /* Zamračenje slike prilikom hover-a */
  border-radius: 15px;
}
.swiper .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  transition: background-color 0.3s ease;
  z-index: -1;
  border-radius: 15px;
}
.swiper .swiper-slide .single-naslov {
  text-align: center;
}
.swiper .swiper-slide .single-naslov h1 {
  color: white;
  z-index: 2;
  font-weight: 900;
  font-size: 1.6rem;
  letter-spacing: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}
.swiper .swiper-slide .single-naslov h1::after {
  content: "";
  position: absolute;
  background: #e2c147;
  height: 3px;
  width: 130px;
  right: 0;
  left: 0;
  bottom: -10px;
  margin: auto;
}
.swiper .swiper-slide .single-naslov h5 {
  color: white;
  font-weight: 400;
  margin-top: 1.2rem;
  letter-spacing: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.swiper .swiper-slide .single-naslov h5 span {
  color: #e2c147;
}
.swiper .swiper-slide .single-naslov h4 {
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-top: 1.2rem;
}
.swiper .swiper-slide .lokacija {
  /*position: absolute;
  bottom: 20px;
  left: 20px;
  float: left;*/
  width: auto;
  text-align: left;
  position: absolute;
  bottom: 25px;
  left: 25px;
  letter-spacing: 1px;
}
.swiper .swiper-slide .lokacija #drzavasingle {
  width: 100%;
  color: white;
  text-align: left;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.swiper .swiper-slide .lokacija #drzavasingle::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  margin-right: 5px;
  content: "\f0ac";
  color: #e2c147;
  font-size: 15px;
}
.swiper .swiper-slide .lokacija #gradsingle {
  width: 100%;
  color: white;
  text-align: left;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.swiper .swiper-slide .lokacija #gradsingle::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 9px;
  content: "\f3c5";
  color: #e2c147;
  font-size: 15px;
}
.swiper .swiper-slide .linkdetaljnije {
  width: auto;
  position: absolute;
  bottom: 35px;
  right: 35px;
}
.swiper .swiper-slide .linkdetaljnije a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid #e2c147;
  padding: 10px 25px;
  font-size: 0.9rem;
  border-radius: 20px;
  transition: 0.3s;
  font-weight: bold;
}
.swiper .swiper-slide .linkdetaljnije a:hover {
  background-color: #e2c147;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  border-radius: 15px;
}

.kratakabout-sec {
  background-color: #1c1c1c;
  color: white;
  padding: 7rem 0rem;
}
.kratakabout-sec h1 {
  font-weight: 1000;
  letter-spacing: 1px;
  position: relative;
  margin-bottom: 2rem;
}
.kratakabout-sec h1::after {
  content: "";
  position: absolute;
  background-color: #e2c147;
  height: 2px;
  width: 180px;
  left: 0;
  bottom: -5px;
  margin: auto;
}
.kratakabout-sec p {
  color: rgb(203, 203, 203);
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.kratakabout-sec p span {
  font-weight: 1000;
}
.kratakabout-sec .left-kratak {
  padding: 0rem 5rem;
  position: relative;
}
.kratakabout-sec .left-kratak a {
  margin-bottom: -5rem;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid #e2c147;
  padding: 10px 25px;
  font-size: 0.9rem;
  border-radius: 20px;
  transition: 0.3s;
  font-weight: bold;
  background-color: #e2c147;
}
.kratakabout-sec .left-kratak a:hover {
  background-color: transparent;
}
.kratakabout-sec .left-kratak #leftdrugi {
  margin-bottom: 3rem;
}
.kratakabout-sec .left-kratak #leftinfolink {
  margin-left: 1rem;
  background-color: transparent;
}
.kratakabout-sec .left-kratak #leftinfolink:hover {
  background-color: #e2c147;
}
.kratakabout-sec .left-kratak::after {
  content: "";
  position: absolute;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(229, 199, 89) 25%, rgb(226, 193, 71) 50%, rgb(229, 199, 89) 75%, rgba(255, 255, 255, 0) 100%);
  height: 300px;
  width: 1px;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.kratakabout-sec .right-kratak {
  padding: 2rem 5rem;
}
.kratakabout-sec .right-kratak h1::after {
  width: 120px;
}
.kratakabout-sec .right-kratak a {
  margin-bottom: -5rem;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid #e2c147;
  padding: 10px 25px;
  font-size: 0.9rem;
  border-radius: 20px;
  transition: 0.3s;
  font-weight: bold;
  background-color: #e2c147;
}
.kratakabout-sec .right-kratak a:hover {
  background-color: transparent;
}
.kratakabout-sec .right-kratak #rightdrugi {
  margin-bottom: 2rem;
}

.shortinfo-section {
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgb(2, 0, 36) 0%, rgb(255, 255, 255) 0%, rgb(233, 233, 233) 25%, #c5c5c5 53%, rgb(233, 233, 233) 75%, rgb(255, 255, 255) 100%);
  padding: 6rem 0rem;
  background-size: cover;
  position: relative;
}
.shortinfo-section .container .left-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
}
.shortinfo-section .container .left-info img {
  position: absolute;
  left: 0px;
  top: 0px;
}
.shortinfo-section .container .left-info h3 {
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}
.shortinfo-section .container .left-info h3 span {
  text-decoration: underline;
  text-decoration-color: #e2c147;
}
.shortinfo-section .container .left-info a {
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid #e2c147;
  padding: 10px 25px;
  font-size: 0.9rem;
  border-radius: 20px;
  transition: 0.3s;
  font-weight: bold;
  background-color: #e2c147;
  margin-left: -6rem;
}
.shortinfo-section .container .left-info a:hover {
  background-color: transparent;
}
.shortinfo-section .container .right-info img {
  width: 100%;
  border-radius: 30px;
  box-shadow: -10px 10px 24px -9px rgba(0, 0, 0, 0.75);
}/*# sourceMappingURL=style.css.map */